/* eliaaa-webdev */

/* EB Garamond - fonts.google.com
 * by Georg Duffner and Octavio Pardo
*/
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,800&display=swap');

.hero p{
    margin-bottom: 0;
}

.banner{
    margin-top: -45px;
    height: 500px;
    background-size: cover;
    background-position: center center;
    background-image: url("../img/StAmand-Vie-Asso-2.jpg");
    transform: translate3d(0px, 44.5px, 0px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: 'EB Garamond', serif;
    font-weight: 800;
}

.banner h1{
    font-size: 85px !important;
}

#index .mid{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#index .mid div{
    gap: 200px;
}

#partners .row a{
    height: 300px;
    border: 5px solid #fff;
    transition: all 0.4s ease;
}

#partners .row a:hover{
    transform: scale(0.8);
}

#rent .carousel, #rent .carousel .carousel-inner, #rent .carousel .carousel-item{
    height: 450px;
}

#rent .carousel .carousel-item img{
    height: 100%;
    width: 50%;
    left: 0;
    right: 50%;
    padding-bottom: 50px;
}

#rent .carousel .carousel-caption{
    height: 100%;
    width: 50%;
    right: 0;
    left: 50%;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

#bike-cafe .img-container{
    max-width: 100%;
}

#contact .contact-img{
    height: 500px;
    width: 500px;
    background-size: cover;
    background-position: center center;
    background-image: url("../img/contact-img.png");
    transform: translate3d(0px, 44.5px, 0px);
}
