/* eliaaa-webdev - Welpike */

*{font-family: 'Poppins', sans-serif;}

/* custom Swiper classes - Swiper - swiperjs.com */
/* .swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

#home-hero-social a{
    font-size: 22px;
}

#about p, #features p, #pricing ul li, #portfolio p{
    font-weight: 300;
}

#about a.btn.btn-primary{
    font-size: 16px;
}

#features .feature-icon{
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
}

#testimonials{
    height: 300px;
} */

a.btn-theme{
    background: #00bf85;
    font-weight: 600;
    padding: 0.6rem 1.4rem;
    color: #111;
}

a.btn-theme-dark{
    background: #111;
    font-weight: 500;
    padding: 0.6rem 1.4rem;
    color: #fff;
}

.navbar{
    z-index: 100;
}

.mid{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.mid video{
    width: 100%;
    height: 100%;
    pointer-events: none;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#home-hero-social a{
    font-size: 22px;
}

.hero{
    position: relative;
}

.hero p{
    width: 55%;
    font-size: 1.1rem;
    letter-spacing: 0.2px;
}

.about{
    background: #000;
}

.about .text, .discovery .text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: auto;
}

.about .text h6, .discovery .text h6{
    color: #00bf7f;
    font-weight: 800;
    font-size: 1rem;
    letter-spacing: 2px;
}

.about .text h2{
    color: #f7f5f4;
    font-weight: 700;
    font-size: 2.7rem;
}

.about .text p{
    color: #f7f5f4;
    font-weight: 400;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.discovery .text h2{
    font-weight: 700;
    font-size: 2.7rem;
}

.discovery .text p{
    font-weight: 400;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.services{
    background: #000;
}

.services .services-item{
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem 1.5rem;
    border-radius: 7px;
}

#portfolio a.btn-theme-dark.active{
    background: #00bf85;
    font-weight: 600;
    padding: 0.6rem 1.4rem;
    color: #111;
}

#portfolio .card{
    padding: 20px;
    text-align: center;
}

#portfolio .card img{
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 1s ease;
}

#portfolio .card:hover img{
    transform: scale(1.1);
}
